.adminmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
		}

.adminmenu ul li {
	position: relative;
	display: inline;
	float: left;
		}

.adminmenu ul li a {
	display: block;
	width: 176px;
	padding: 2px 8px;
	border: 1px solid #202020;
	border-left-width: 0;
	text-decoration: none;
	background: url(../images/admin/menubg.gif) center center repeat-x;
	font: bold 10px Tahoma;
		}

.adminmenu ul li ul {
	left: 0;
	top: 0;
	border-top: 1px solid #202020;
	position: absolute;
	display: block;
	visibility: hidden;
	z-index: 100;
		}

.adminmenu ul li ul li {
	display: inline;
	float: none;
			}

.adminmenu ul li ul li a {
	width: 176px;
	font-weight: normal;
	padding: 2px 8px;
	background: url(../images/admin/menubgover.gif) center center repeat-x;
	border-width: 0 1px 1px 1px;
		}

.adminmenu ul li a:hover {
	background: url(../images/admin/menubgover.gif) center center repeat-x;
		}

.adminmenu ul li ul li a:hover {
	background: url(../images/admin/menubg.gif) center center repeat-x;
		}
