.adminmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
		}

.adminmenu ul li {
	position: relative;
	display: inline;
	float: left;
		}

.adminmenu ul li a {
	display: block;
	width: 176px;
	padding: 2px 8px;
	border: 1px solid #202020;
	border-left-width: 0;
	text-decoration: none;
	background: url(../administration/images/menubg.gif) center center repeat-x;
	font: bold 10px Tahoma;
		}

.adminmenu ul li a:hover {
	background: url(../administration/images/menubgover.gif) center center repeat-x;
		}


