td.logintext { font-size:12px; font-family:Arial, Helvetica, sans-serif; }
td.logininput { font-size:10px; font-family:Arial, Helvetica, sans-serif; }
td.loginbutton { font-size:10px; font-family:Arial, Helvetica, sans-serif; }

td.errtitle { background-color:#FF0000; color:#FFFF00; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
td.errtab { background-color:#FFB9B9; color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:10px; border-color:#FF0000; border-bottom-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-style: solid; }

td.tabletitle { background-color:#303B4A; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:16px; }
td.tableleft {background-color:#CFD7E0;border:#333333;border-left-style: solid;border-bottom-style: solid;border-bottom-width: 1px;border-left-width: 1px;}
td.tableright {background-color:#CFD7E0;border:#333333;border-right-style: solid;border-bottom-style: solid;border-bottom-width: 1px;border-right-width: 1px;}
td.tablecenter {background-color:#CFD7E0;border:#333333;border-bottom-style: solid;border-bottom-width: 1px;color: white;}

hr {color: #000000; height: 1px; width: 90%;}
a:link, a:visited{color: #4D7282; text-decoration: none; font-weight: bold;}
a:hover {color: #cc6600;}

/* Main report table style */
TABLE.report              {FONT-SIZE: 13px; color: #000000; border-color: #999 #333 #333 #999; border-width: 2px; border-style: solid; border-collapse: collapse; border-spacing: 0; width: 100%; margin-bottom: 10px;}
TABLE.report IMG          {vertical-align: middle;}
TABLE.report TH           {BORDER:#CCCCFF 1px solid; COLOR: #66CCFF; BACKGROUND-COLOR: #000066;}
TABLE.report TH A         {COLOR: #66CCFF; TEXT-DECORATION: underline}
TABLE.report TD           {BORDER:#CCCCFF 1px solid;PADDING: 0px; vertical-align: middle; TEXT-ALIGN: center;}
TABLE.report TD A         {TEXT-DECORATION: none; COLOR: #ffdd00;}
TABLE.report TD.left      {TEXT-ALIGN: left; padding: 0px 5px;}
TABLE.report TD.full      {TEXT-ALIGN: left; padding: 0px 5px; white-space: nowrap;}
TABLE.report TD.small     {WIDTH: 1%; padding: 0px 5px; white-space: nowrap;}

TABLE.report TR.head      {BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;}
TABLE.report TR.head    TD{COLOR: #ffdd00;}
TABLE.report TD.head      {COLOR: #ffdd00; BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;}
TABLE.report TD.page      {COLOR: #000000; BACKGROUND-COLOR: #aaaaaa; FONT-SIZE: 13px;}

td.navibutton {border: #aaaaaa;border-left-style: solid; border-left-width: 1px; border-right-style: solid;border-right-width: 1px; border-bottom-style: solid; border-bottom-width: 1px; border-top-style: solid; border-top-width: 1px; background-color: #cccccc;}
td.navicurrent {border: black; border-left-style: solid; border-left-width: 1px;border-right-style: solid; border-right-width: 1px; border-bottom-style: solid; border-bottom-width: 1px; border-top-style: solid; border-top-width: 1px; background-color: #bbbbff;}