/* Item quality style */
IMG {border: 0px;}

SPAN.quality0  {COLOR: #808080;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality1  {COLOR: #ffffff;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality2  {COLOR: #00ff00;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality3  {COLOR: #0068ff;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality4  {COLOR: #8000ff;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality5  {COLOR: #ff8000;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality6  {COLOR: #ff0000;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality7  {COLOR: #CC6666;DISPLAY: block; FONT-WEIGHT: bold;}

A.quality0  {COLOR: #808080;FONT-WEIGHT: bold;}
A.quality1  {COLOR: #000000;FONT-WEIGHT: bold;}
A.quality2  {COLOR: #00aa00;FONT-WEIGHT: bold;}
A.quality3  {COLOR: #0068ff;FONT-WEIGHT: bold;}
A.quality4  {COLOR: #8000ff;FONT-WEIGHT: bold;}
A.quality5  {COLOR: #ff8000;FONT-WEIGHT: bold;}
A.quality6  {COLOR: #ff0000;FONT-WEIGHT: bold;}
A.quality7  {COLOR: #CC6666;FONT-WEIGHT: bold;}

/* Creature reaction */
SPAN.friendly {BACKGROUND-COLOR: #00ff00; FONT-WEIGHT: bold; COLOR: #000000}
SPAN.hostile  {BACKGROUND-COLOR: #ff0000; FONT-WEIGHT: bold; COLOR: #000000}
SPAN.neitral  {BACKGROUND-COLOR: #FFFF00; FONT-WEIGHT: bold; COLOR: #000000}

IMG.point {position: absolute;}

/* Image size style */
IMG.reagent   {width: 24px;}
IMG.item      {width: 32px;}
div.item      {FONT-SIZE: 14; font-weight: 800;}
IMG.cost      {width: 20px;}
IMG.sell      {width: 20px;}
IMG.auction   {width: 32px;}
div.auction   {FONT-SIZE: 12; font-weight: 800;}
IMG.set       {width: 24px;}
IMG.armory    {width: 43px;}
div.armory    {font-size: 14; font-weight: 800;}
IMG.guildb    {width: 39px;}
div.guildb    {font-size: 14; font-weight: 800;}
IMG.spell     {width: 32px;}
IMG.spellinfo {width: 32px;}
IMG.aura      {width: 32px;}
IMG.quest     {width: 24px;}
IMG.skill     {width: 40px;}

/* Substring style */
div.srank     {COLOR: #000000; font-size: 11px; }
div.srank    A{COLOR: #000000; text-decoration: none;}
div.subname   {COLOR: #008800; font-size: 10px; }
div.subname  A{COLOR: #008800; text-decoration: none;}
div.rank      {COLOR: #330066; font-size: 10px; }
div.rank     A{COLOR: #330066; text-decoration: none;}
div.areaname  {COLOR: #330066; font-size: 10px; }
div.areaname A{COLOR: #330066; text-decoration: none;}
div.classqname  {COLOR: #000000; font-size: 10px; }
div.classqname A{COLOR: #000000; text-decoration: none;}
div.reqfocus  {COLOR: #330066; font-size: 10px; }
div.reqfocus A{COLOR: #330066; text-decoration: none;}

/* Search dialog style */
TABLE.find                {padding: 0px; border-spacing: 1px;}
TABLE.find TD.top         {padding: 1px;}
TABLE.find TD.bottom      {text-align: center;}
TABLE.findtop             {WIDTH: 100%; BORDER: 0px; border-collapse: collapse;}
TABLE.findtop TD.topleft  {padding:  0px;}
TABLE.findtop TD.top      {padding: 10px;text-align: center;}
TABLE.findtop TD.topright {padding:  0px;}

/* Main report table style */
TABLE.report              {FONT-SIZE: 13px; color: #000000; border-color: #999 #333 #333 #999; border-width: 2px; border-style: solid; border-collapse: collapse; border-spacing: 0; width: 100%; margin-bottom: 10px;}
TABLE.report IMG          {vertical-align: middle;}
TABLE.report TH           {BORDER:#CCCCFF 1px solid; COLOR: #66CCFF; BACKGROUND-COLOR: #000066;}
TABLE.report TH A         {COLOR: #66CCFF; TEXT-DECORATION: underline}
TABLE.report TD           {BORDER:#CCCCFF 1px solid;PADDING: 0px; vertical-align: middle; TEXT-ALIGN: center;}
TABLE.report TD A         {TEXT-DECORATION: none;}
TABLE.report TD.left      {TEXT-ALIGN: left; padding: 0px 5px;}
TABLE.report TD.full      {TEXT-ALIGN: left; padding: 0px 5px; white-space: nowrap;}
TABLE.report TD.small     {WIDTH: 1%; padding: 0px 5px; white-space: nowrap;}
TABLE.report TD.i_ico     {width: 32px; padding: 0px;}
TABLE.report TD.i_ico  img{width: 32px;}
TABLE.report TD.s_ico     {width: 32px; padding: 0px;}
TABLE.report TD.s_ico  img{width: 32px;}
TABLE.report TD.icon      {width: 32px; TEXT-ALIGN: left; white-space: nowrap;}
TABLE.report TD.icon   img{width: 32px; margin: 0 5px 0 0;}
TABLE.report TD.skill     {width: 40px; padding: 0px;}
TABLE.report TD.skill  img{width: 38px;}
TABLE.report TD.set    img{width: 40px; padding: 0px;}
TABLE.report TD.iset   img{width: 24px; padding: 0px;}
TABLE.report TD.cost      {width: 1%; padding: 0px 5px; white-space: nowrap;}

TABLE.report TR.head      {BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;}
TABLE.report TR.head    TD{COLOR: #ffdd00;}
TABLE.report TD.head      {COLOR: #ffdd00; BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;}
TABLE.report TD.page      {COLOR: #000000; BACKGROUND-COLOR: #aaaaaa; FONT-SIZE: 13px;}

TABLE.report TD.forsub    {BORDER:#CCCCFF 1px solid;PADDING: 0px;}
TABLE.report TR.highlight {BACKGROUND-COLOR: #aaaaaa}
TABLE.report TR.notknow   {COLOR: #000000; BACKGROUND-COLOR: #FFCCFF; FONT-SIZE: 13px;}
TABLE.report TD.rank             {COLOR: #400080;}
TABLE.report TD.prace            {WIDTH: 1px;}
TABLE.report TD.pclass           {WIDTH: 1px;}
TABLE.report TD.pfaction         {WIDTH: 1px;}
TABLE.report TD.emblem           {WIDTH: 1px; vertical-align: top;}
TABLE.report TD.guild            {COLOR: #008000;FONT-WEIGHT: 600;}
TABLE.report TD.guild A          {COLOR: #008000;}
TABLE.report TD.player           {COLOR: #800000;FONT-WEIGHT: 600;}
TABLE.report TD.player A         {COLOR: #800000;}
TABLE.report TD.zone             {COLOR: #804000;FONT-WEIGHT: 600; width: 1%;}
TABLE.report TD.zone A           {COLOR: #008000;}
TABLE.report TD.stat_data        {vertical-align: bottom; background: #000000;}
TABLE.report TD.skill_category   {font-size: 12px; COLOR: #FFFFCC; background: #000066; FONT-WEIGHT: 800; text-align: left; padding-left: 3px;}
TABLE.report TD.skill_ico        {padding: 0px; width: 1px; border-right: 0px solid; }
TABLE.report TD.skill_ico img    {width: 8px;}
TABLE.report TD.skill_name       {text-align: left; font-size: 12px; padding-left: 10px; white-space: nowrap;}
TABLE.report TD.skill_bar        {FONT-WEIGHT: 800; font-size: 10px; color: #FFFFFF; padding: 0px; width: 100%;}
TABLE.report TD.teamreputation   {COLOR: #FFFFCC; text-align: left; background: #000066; FONT-WEIGHT: 800; cursor: default; padding-left: 3px;}
TABLE.report TD.teamreputation A {COLOR: #FFFFCC; display: block;}
TABLE.report TD.reputation       {text-align: left; font-size: 12px; white-space: nowrap;cursor: default; padding-left: 3px;}
TABLE.report TD.reputation     A {display: block;}
TABLE.report TD.rep_value        {font-size: 12px; width: 1%; padding: 0px 5px; white-space: nowrap; cursor: default;}
TABLE.report TD.rep_bar          {FONT-WEIGHT: 800; font-size: 10px; color: #FFFFFF; padding: 0px; width: 100%; cursor: default;}

TABLE.sublist       {BORDER:#CCC0FF 0px solid; FONT-SIZE: 13px; MARGIN: 0px; COLOR: #000000; border-collapse: collapse; border-spacing: 0; WIDTH: 100%;}
/* Reputation bar style */
div.rep_bar        {width: 100%;height:14px;background:transparent url(../../images/bar/bar-mana.gif) repeat-x scroll 0 0;position:relative;text-align: left;border: 0px; margin: 0px; }
div.rep_bar b      {height:14px;position:absolute;}
div.rep_bar b.rep0 {background:transparent url(../../images/bar/bar-hated.gif) repeat-x scroll 0 0;}
div.rep_bar b.rep1 {background:transparent url(../../images/bar/bar-hostile.gif) repeat-x scroll 0 0;}
div.rep_bar b.rep2 {background:transparent url(../../images/bar/bar-unfriendly.gif) repeat-x scroll 0 0;}
div.rep_bar b.rep3 {background:transparent url(../../images/bar/bar-neutral.gif) repeat-x scroll 0 0;}
div.rep_bar b.rep4 {background:transparent url(../../images/bar/bar-friendly.gif) repeat-x scroll 0 0;}
div.rep_bar b.rep5 {background:transparent url(../../images/bar/bar-honored.gif) repeat-x scroll 0 0;}
div.rep_bar b.rep6 {background:transparent url(../../images/bar/bar-revered.gif) repeat-x scroll 0 0;}
div.rep_bar b.rep7 {background:transparent url(../../images/bar/bar-exalted.gif) repeat-x scroll 0 0;}
div.rep_bar span   {position:absolute; text-align:center; width:100%;}

/* Skill bar style */
div.skill_bar      {width: 100%;height:14px;background:transparent url(../../images/bar/bar-mana.gif) repeat-x scroll 0 0;position:relative;text-align: left;border:0px solid black;}
div.skill_bar b    {height:14px;position:absolute;}
div.skill_bar b.s1 {background:transparent url(../../images/bar/bar-grey.gif) repeat-x scroll 0 0;}
div.skill_bar span {position:absolute; text-align:center; width:100%;}

/* Live search table style */
TABLE.livesearch    {BORDER:#000000 1px solid; color: #000000; background: url(../../images/bar/ls_data.gif); FONT-SIZE: 13px; border-collapse: collapse;}
TABLE.livesearch A  {font-weight: normal; text-decoration: none; display: block; width: auto;}
TABLE.livesearch B  {text-decoration: underline;}
TABLE.livesearch TR {BORDER:#330000 1px solid; height: 23px;}
TABLE.livesearch TD        {width: 20px; white-space: nowrap;}
TABLE.livesearch TD   IMG  {width: 20px;}
TABLE.livesearch TD.lsname {padding-left: 5px;}
TABLE.livesearch TD.lstype {text-align: center; font-size: 11px; font-weight: bold; padding: 0px 4px 0px 4px; }

/* Stat module - bars style */
TABLE.stat                {BORDER: 0px; FONT-SIZE: 10px;}
TABLE.stat TR.stat_top    {color: #FFFFFF;}
TABLE.stat TR.stat_top img{BORDER: #330066 1px solid;}
TABLE.stat TR.stat_bot    {background: #333333;}
TABLE.stat TD.st_data     {color: #FFFFCC; BORDER: 0px; padding: 0px; text-align: center; vertical-align: bottom;}
TABLE.stat TD.st_datab    {color: #FFFFCC; BORDER: 0px; padding: 0px; text-align: center; vertical-align: top;}

/* Ajax tooltip style */
div.loading                 {color: #FFFFFF; background: url(../../images/ajax-loader.gif); width: 32px; height: 32px; }
TABLE.tooltip               {color: #FFFFFF; background: #282828;}
TABLE.tooltip               {BORDER-RIGHT: #888 2px solid; BORDER-TOP: #eee 2px solid; BORDER-LEFT: #eee 2px solid; BORDER-BOTTOM: #888 2px solid;}
TABLE.tooltip TD            {padding: 0px;}
TABLE.tooltip TD.tiptopl    {}
TABLE.tooltip TD.tiptop     {}
TABLE.tooltip TD.tiptopr    {}
TABLE.tooltip TD.tipl       {}
TABLE.tooltip TD.tipbody    {FONT-SIZE: 12px; padding: 4px;}
TABLE.tooltip TD.tipr       {}
TABLE.tooltip TD.tipbottoml {}
TABLE.tooltip TD.tipbottom  {}
TABLE.tooltip TD.tipbottomr {}

/* Show item, go, npc ... top table style */
TABLE.border             {FONT-SIZE: 12px; margin: 0px;}
TABLE.border             {BORDER-RIGHT: #888 2px solid; BORDER-TOP: #eee 2px solid; BORDER-LEFT: #eee 2px solid; BORDER-BOTTOM: #888 2px solid;}
TABLE.border TD.btopl    {}
TABLE.border TD.btop     {}
TABLE.border TD.btopr    {}
TABLE.border TD.bl       {}
TABLE.border TD.bbody    {color: #FFFFFF;  padding: 4px; background: #282828;}
TABLE.border TD.br       {}
TABLE.border TD.bbottoml {}
TABLE.border TD.bbottom  {}
TABLE.border TD.bbottomr {}

/* Item info table style */
TABLE.item               {width: 300px;FONT-FAMILY: Tahoma; FONT-SIZE: 12px;}
TABLE.item               {COLOR: #ffffff; margin: 0px; text-align: justify;}
TABLE.item div.right     {float: right; padding-left: 20px;}
TABLE.item TD            {padding: 0px; vertical-align: text-top;}
TABLE.item A             {TEXT-DECORATION: none; font-weight: normal;}
TABLE.item A:link        {COLOR: #00ff00;}
TABLE.item A:visited     {COLOR: #00ee00;}
TABLE.item A:hover       {COLOR: #77ff77;}
TABLE.item A:active      {COLOR: #00ff00;}
TABLE.item TD.req A      {COLOR: white;}
TABLE.item TD.SpellStat  {COLOR: #00ff00; }
TABLE.item TD.name       {white-space: nowrap;}
TABLE.item TD.Unique     {COLOR: #aaaa00; }
TABLE.item TD.metaSock    {background: url(../../images/socket_meta.gif) no-repeat; padding-left: 23px; height: 16px;}
TABLE.item TD.blueSock    {background: url(../../images/socket_blue.gif) no-repeat; padding-left: 23px; height: 16px;}
TABLE.item TD.redSock     {background: url(../../images/socket_red.gif) no-repeat; padding-left: 23px; height: 16px;}
TABLE.item TD.yellowSock  {background: url(../../images/socket_yellow.gif) no-repeat; padding-left: 23px; height: 16px;}
TABLE.item TD.metaSock   A{COLOR: #CCCCFF;}
TABLE.item TD.blueSock   A{COLOR: #00FFFF;}
TABLE.item TD.redSock    A{COLOR: #ff0000;}
TABLE.item TD.yellowSock A{COLOR: #ffff00;}
TABLE.item TD.EnchantSock {COLOR: #00ff00;}
TABLE.item TD.EnchantSock img{vertical-align: middle; width: 16px; height: 16px;}
TABLE.item TD.disBonus   {COLOR: #CCCCCC; }
TABLE.item TD.disBonus A {COLOR: #CCCCCC; }
TABLE.item TD.itemsetname{COLOR: #CC9933; }
TABLE.item TD.itemsetname A{COLOR: #CC9933; }
TABLE.item TD.enSetName  A{COLOR: #FFFFCC; padding-left: 10px;}
TABLE.item TD.disSetName A{COLOR: #999999; padding-left: 10px;}
TABLE.item TD.enSpell    {COLOR: #00ff00; }
TABLE.item TD.disSpell   {COLOR: #999999; }
TABLE.item TD.faction A  {COLOR: #FF9900; }
TABLE.item TD.itemdesc   {COLOR: #aaaa00; }
TABLE.item TD.sellprice  {COLOR: #7777ff;FONT-SIZE: 11px;}
TABLE.item TD.bottom     {COLOR: #000000;BACKGROUND-COLOR: #aaaaaa;FONT-SIZE: 10px;TEXT-ALIGN: center;}

/*Мар style*/
TABLE.map                  {background-color: #000000; border-color: #333333;}
TABLE.map TD               {border-color: #330066;}
TABLE.map TD.mapname       {color: #FFFFCC; text-align: center;}
TABLE.map TD.mapname     A {color: #FFFFCC; font-weight: bold;}
TABLE.map TD div.m_scale   {text-align: right; position: absolute; border: 0px; left: 5px; top: 5px;}
TABLE.map TD div.m_scale A {color: #FF9900; TEXT-DECORATION: none;}
/*Мар tooltip style*/
TABLE.maptooltip           {color: #FFFFFF; font-size: 12px;}
TABLE.maptooltip TD        {padding: 0px; white-space: nowrap;}
TABLE.maptooltip TD.name   {font-size: 14px; text-align: center;}

TABLE.creature           {WIDTH: 200px; FONT-FAMILY: Tahoma;FONT-SIZE: 12px;}
TABLE.creature           {COLOR: #ffffff; margin: 0px; white-space: nowrap; }
TABLE.creature A         {COLOR: #99CCCC; TEXT-DECORATION: none; }
TABLE.creature TD.bottom {COLOR: #000000; BACKGROUND-COLOR: #aaaaaa; FONT-SIZE: 10px;TEXT-ALIGN: center;}

TABLE.gameobject           {WIDTH: 200px; FONT-FAMILY: Tahoma;FONT-SIZE: 14px;}
TABLE.gameobject           {COLOR: #ffffff; margin: 0px;}
TABLE.gameobject A         {COLOR: #99CCCC; TEXT-DECORATION: none; }
TABLE.gameobject TD.bottom {COLOR: #000000; BACKGROUND-COLOR: #aaaaaa;FONT-SIZE: 10px;TEXT-ALIGN: center;}

TABLE.spell               {WIDTH: 300px; FONT-FAMILY: Tahoma; FONT-SIZE: 12px; text-align: justify;}
TABLE.spell               {COLOR: #ffffff; margin: 0px;}
TABLE.spell TD           A{TEXT-DECORATION: none}
TABLE.spell TD.SpellDesc  {COLOR: #00ff00;}
TABLE.spell TD.SpellDesc A{COLOR: #00ff00;}
TABLE.spell TD.SpellErr   {COLOR: #ff0000;}
TABLE.spell TD.SpellEnch  {COLOR: #FFE400;}
TABLE.spell TD.SpellEnch A{COLOR: #FFE400;}
TABLE.spell TD.Talent     {COLOR: #FFE400;}
TABLE.spell TD.Talent    A{COLOR: #FFE400;}
TABLE.spell TD.Name       {COLOR: #ffffff; font-size: larger; white-space: nowrap;}
TABLE.spell TD.Rank       {COLOR: #CCCCCC; font-size: larger; white-space: nowrap; text-align: right;}
TABLE.spell TD.bottom     {COLOR: #000000;BACKGROUND-COLOR: #aaaaaa;FONT-SIZE: 10px;TEXT-ALIGN: center;}
TABLE.spell TD.tool      A{COLOR: #FF9900;}
TABLE.spell TD.req       A{COLOR: #FFFFFF;}

TABLE.factiontip         {color: #FFFFCC; width: 350px; FONT-FAMILY: Tahoma; font-size: 12px; text-align: justify;}
TABLE.factiontip A       {color: #99CCCC; TEXT-DECORATION: none; }
TABLE.factiontip TD.name {color: #FF9900;}

TABLE.details          {COLOR: #000000; BORDER-LEFT: #999 2px solid; BORDER-RIGHT: #333 2px solid; BORDER-TOP: #999 2px solid; BORDER-BOTTOM: #333 2px solid; FONT-SIZE: 14px; border-collapse: collapse; border-spacing: 0}
TABLE.details A        {text-decoration: none; }
TABLE.details TD       {BORDER:#000099 1px solid;PADDING: 2px; vertical-align: middle;  }
TABLE.details TD IMG   {width: 32px;}
TABLE.details TD.head  {COLOR: #ffdd00; BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;  TEXT-ALIGN: center;}
TABLE.details TH       {BORDER:#CCCCFF 1px solid; COLOR: #FFFFCC; BACKGROUND-COLOR: #000066; FONT-WEIGHT: 500; width: 70px;}

div.ex_cost            {white-space: nowrap; font-size: 11px;}
table.reagents         {padding: 0px; BORDER: 0px; border-collapse: collapse;}
table.reagents TD      {COLOR: #000000; font-size: x-small; text-align: center;  padding: 0px 1px;}
TABLE.reagents TD IMG  {width: 24px;}
table.no_border TD     {COLOR: #000000; BORDER: 0px; font-size: 12px;}

TABLE.chartt                   {FONT-FAMILY: Tahoma; FONT-SIZE: 11px;}
TABLE.chartt                   {COLOR: #dfb900; padding: 0px; margin: 0px;}
TABLE.chartt TD.head           {COLOR: #FFFFFF; font-size: 13px; font-weight: 700; }

TABLE.charttborder             {FONT-SIZE: 12px;BORDER-RIGHT: #888 2px solid; BORDER-TOP: #eee 2px solid; BORDER-LEFT: #eee 2px solid; BORDER-BOTTOM: #888 2px solid;}
TABLE.charttborder TD.ptopl    {WIDTH: 1px; HEIGHT: 1px;}
TABLE.charttborder TD.ptop     {HEIGHT: 1px;}
TABLE.charttborder TD.ptopr    {WIDTH: 1px; HEIGHT: 1px;}
TABLE.charttborder TD.pl       {WIDTH: 1px;}
TABLE.charttborder TD.pr       {WIDTH: 1px;}
TABLE.charttborder TD.pbottoml {WIDTH: 1px; HEIGHT: 1px;}
TABLE.charttborder TD.pbottom  {HEIGHT: 1px;}
TABLE.charttborder TD.pbottomr {WIDTH: 1px; HEIGHT: 1px;}

TABLE.quest         {COLOR: #000000; BACKGROUND-COLOR: #cccccc; border-color: #999 #333 #333 #999; border-style: solid; border-width: 2px;}
TABLE.quest         {margin-top: 20px; text-align: justify; border-collapse: collapse; border-spacing: 0;}
TABLE.quest TD      {padding: 1px 5px;}
TABLE.quest TD.reward   A{FONT-SIZE: 13px;}
TABLE.quest TD.reward IMG{vertical-align: middle; width: 32px;}
TABLE.quest TD.mark {COLOR: #000000; BACKGROUND-COLOR: #bbbbbb;}
TABLE.quest TD.head {COLOR: #ffdd00; BACKGROUND-COLOR: #000055; FONT-WEIGHT: 800; TEXT-ALIGN: center;}

TABLE.character {FONT-FAMILY: Tahoma;}
TABLE.character {BORDER-RIGHT: #888 2px solid; BORDER-TOP: #eee 2px solid; FONT-SIZE: 14px; MARGIN: 0px; BORDER-LEFT: #eee 2px solid; COLOR: #ffffff; BORDER-BOTTOM: #888 2px solid; BACKGROUND-COLOR: #000000}

TABLE.playerName           {WIDTH: 276px; FONT-FAMILY: Tahoma; BORDER: 0px; border-collapse: collapse;}
TABLE.playerName TD        {text-align: center; vertical-align: middle; padding: 0px; BORDER: 0px;}
TABLE.playerName TD.name   {COLOR: #FFFFFF; FONT-SIZE: 14px; FONT-WEIGHT: 600; WIDTH: 276px; HEIGHT: 20px;}
TABLE.playerName TD.health {COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-WEIGHT: 600; WIDTH: 276px; HEIGHT: 18px;BACKGROUND-IMAGE: url(../../images/player_info/characterframe/bar1.png);}
TABLE.playerName TD.power  {COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-WEIGHT: 600; WIDTH: 276px; HEIGHT: 17px;BACKGROUND-IMAGE: url(../../images/player_info/characterframe/bar2.png);}

TABLE.playerstats          {FONT-FAMILY: Tahoma; FONT-SIZE: 11px; MARGIN: 0px; border-collapse: collapse;padding: 1px;BACKGROUND-IMAGE: url(../../images/player_info/bg_stats.png);}
TABLE.playerstats TD       {BORDER: 1px #666666 solid;}
TABLE.playerstats TD.head  {COLOR: #FFFFFF;PADDING-LEFT: 8px; font-weight: 700;}

TABLE.resistances           {FONT-FAMILY: Tahoma; FONT-SIZE: 11px; COLOR: #0fd621;}
TABLE.resistances TD        {text-align: center; vertical-align: bottom; padding: 0px; BORDER: 0px;}
TABLE.resistances TD.fire   {width: 25px; height: 38px; BACKGROUND: url(../../images/player_info/characterframe/fire.gif) no-repeat center top;}
TABLE.resistances TD.nature {width: 25px; height: 38px; BACKGROUND: url(../../images/player_info/characterframe/nature.gif) no-repeat center top;}
TABLE.resistances TD.frost  {width: 25px; height: 38px; BACKGROUND: url(../../images/player_info/characterframe/frost.gif) no-repeat center top;}
TABLE.resistances TD.shadow {width: 25px; height: 38px; BACKGROUND: url(../../images/player_info/characterframe/shadow.gif) no-repeat center top;}
TABLE.resistances TD.arcane {width: 25px; height: 38px; BACKGROUND: url(../../images/player_info/characterframe/arcane.gif) no-repeat center top;}

TABLE.stattext     {WIDTH: 100%; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; BORDER: 0; border-collapse: collapse;}
TABLE.stattext  TD {COLOR: #dfb900; TEXT-ALIGN:  left; PADDING: 0px; PADDING-LEFT:  5px; BORDER: 0px;}

TABLE.statvalue    {WIDTH: 100%; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; BORDER: 0px; border-collapse: collapse;}
TABLE.statvalue TD {TEXT-ALIGN: right; PADDING: 0px; PADDING-RIGHT: 5px; COLOR: #FFFFFF; BORDER: 0px; cursor: default;}
TABLE.statvalue TD.normStat {COLOR: #FFFFFF;}
TABLE.statvalue TD.posStat  {COLOR: #20FF20;}
TABLE.statvalue TD.negStat  {COLOR: #FF2020;}
SPAN.normStat {COLOR: #FFFFFF;}
SPAN.posStat  {COLOR: #20FF20;}
SPAN.negStat  {COLOR: #FF2020;}
font.normStat {COLOR: #FFFFFF;}
font.posStat  {COLOR: #20FF20;}
font.negStat  {COLOR: #FF2020;}

TABLE.back {BORDER-RIGHT: #333 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #aaa 2px solid; PADDING-LEFT: 2px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 0px; BORDER-LEFT: #999 2px solid; WIDTH: 500px; MARGIN-RIGHT: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #333 2px solid; FONT-FAMILY: Arial, Garamond, Helvetica; BACKGROUND-COLOR: #cccccc; border-spacing: 0px}

TABLE.instance    {BORDER: #663300 1px solid; PADDING: 0px; COLOR: #000000;}
TABLE.instance TD {BORDER: #663300 1px solid;}

TABLE.skillBody                {COLOR: #000000; WIDTH: 350px;BORDER:#CCCCCC 2px solid; BACKGROUND-COLOR: #000000; FONT-SIZE: 12px; border-collapse: collapse; border-spacing: 0}
TABLE.skillBody TD             {COLOR: #FFFFFF; FONT-SIZE: 12px;}
TABLE.skillBody TD.skillname   {COLOR: #FFFFCC; BACKGROUND-COLOR: #484848; BORDER: 0px; FONT-SIZE: 12px; padding-left:  5px;}
TABLE.skillBody TD.skilltop    {COLOR: #ffdd00; BACKGROUND-COLOR: #330066; FONT-SIZE: 16px; FONT-WEIGHT: 800;  TEXT-ALIGN: center;}
TABLE.skillBody TD.skillbottom {COLOR: #000000; BACKGROUND-COLOR: #aaaaaa; FONT-SIZE: 13px; TEXT-ALIGN: center;}
TABLE.skillBody TD.skillsubname{COLOR: #FFFFCC; WIDTH: 135px; padding-left: 10px; padding-right: 5px;}
TABLE.skillBody TD.skillbar    {COLOR: #FFFFCC; WIDTH: 200px; HEIGHT: 17px; BACKGROUND: url(../../images/player_info/characterframe/skill_bar_bg.gif) #000000 no-repeat; text-align: center; }
TABLE.skillBody TD A:link      {COLOR: #FF9900; TEXT-DECORATION: none; FONT-SIZE: 12px;}
TABLE.skillBody TD A:visited   {COLOR: #FF9900; TEXT-DECORATION: none; FONT-SIZE: 12px;}

TABLE.skilltip        {color: #FFFFCC; background: #333333; width: 350px; border: #CCCCCC 1px solid; font-size: 12px; text-align: justify;}
TABLE.skilltip TR.top {color: #FF9900;}

/* Talent calculator style */
div.talent_head     {text-align: center; font-size: 14px;}
div.talent_head    A{text-decoration: none; }
div.talent_head    B{text-decoration: underline; font-weight: 400;}
div.talent_head  img{width: 40px; vertical-align: middle;}

TABLE.talenttab           {COLOR: #FFFFFF; BORDER:#CCCCFF 1px solid; BACKGROUND-COLOR: #000000; FONT-SIZE: 14px; MARGIN: 0px;}
TABLE.talenttab TD        {COLOR: #FFFFFF; BORDER:#006666 1px solid; MARGIN: 0px; text-align: left;}
TABLE.talenttab TD.head   {COLOR: #ffdd00; BORDER:#CCCCFF 0px solid; BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;  TEXT-ALIGN: center;}
TABLE.talenttab TD.head  A{COLOR: #ffdd00; text-decoration: none;}
TABLE.talenttab TR.bottom     {}
TABLE.talenttab TR.bottom TD  {BORDER: 0px;}
TABLE.talenttab TR.bottom DIV {width: 100%; height: 27px; line-height: 24px; color: #FFE400; font-size: 12px; font-weight: 800;}
TABLE.talenttab TR.bottom SPAN{color: #FFFFFF; font-weight: normal;}

TABLE.talent              {BORDER: 0px; border-collapse: collapse; border-spacing: 0; margin: 5px;}
TABLE.talent TD           {BORDER: 0px; width: 58px; min-width: 58px; height: 58px; min-height: 58px; max-width: 58px; max-height: 58px; font-family: Arial; FONT-SIZE: 13px; padding: 0px; cursor: default;}

TABLE.online_map          {BORDER: 0px; color: #FFFFFF; font-size: 12px; width: 100px;}
TABLE.online_map TD.hname {background: #660000; color: #CCFFFF; font-weight: bold; text-align: center; }
TABLE.online_map TD.aname {background: #000066; color: #FFFFCC; font-weight: bold; text-align: center; }

/*Achievement*/
table.achievement            {border: 0px; border-collapse: collapse; border-spacing: 0; width: 842px;}
table.achievement TD         {vertical-align: top;}
table.achievement TD.a_cat   {min-width: 169px; width: 169px; font-size: 11px; font-weight: bold; text-align: left;}
table.achievement TD.a_data  {min-width: 673px; width: 673px; font-size: 14px; text-align: center; padding: 0;}

div.a_topcat              {height: 10px; background: url(../../images/achievement/achv_lnav_top.gif); font-size: 1px;}
div.a_bodycat             {background: url(../../images/achievement/achv_lnav_bg.jpg);}
div.a_bodycat     A       {color: #5B3906; padding: 4px 0px 4px 15px; display: block; text-decoration: none; min-height: 14px;}
div.a_bodycat     A.sub   {color: #660000; padding: 4px 0px 4px 20px; background: transparent;}
div.a_bodycat     A:hover {color: #330000;background: url(../../images/achievement/h_sel_bg.jpg) no-repeat scroll 50% 50%;}
div.a_bodycat_sel         {background: url(../../images/achievement/achv_sel_sub.jpg) no-repeat scroll 100% 100%;}
div.a_bodycat_sel A       {color: #FFE46C;padding: 4px 0px 4px 15px;background: url(../../images/achievement/achv_lnav_sel.gif) scroll 100% 0px no-repeat;display: block;text-decoration: none;min-height: 14px;height: 100%;}
div.a_bodycat_sel A:hover {color: #FFCC00;}
div.a_bodycat_sel A.sub   {color: #FFFFFF; padding: 4px 0px 4px 20px; background: transparent;}
div.a_bodycat_sel A.sel   {color: #E7D6B8; padding: 4px 0px 4px 20px; background: url(../../images/achievement/achv_sub_selected.gif) scroll 100% 0 no-repeat;}
div.a_bottomcat           {height: 4px; background: url(../../images/achievement/achv_lnav_btm.gif) scroll 0% 100%; font-size: 1px;}

div.a_topdata           {height: 8px; background: url(../../images/achievement/achv_rcol_top.gif) no-repeat; font-size: 1px;}
div.a_bdydata           {background: url(../../images/achievement/achv_rcol_bg.jpg) repeat-y; padding: 2px 0 10px 0;}
div.a_btmdata           {height: 5px; background: url(../../images/achievement/achv_rcol_btm.gif) no-repeat; font-size: 1px;}

.ach_show        {width: 673px; padding-bottom: 17px; cursor: pointer; position: relative;}
.ach_show div    {margin: 0 auto; text-align: center;}
.ach_show        {color: #554223; background: url(../../images/achievement/achievement_bg.jpg) scroll 50% bottom; border-top: 1px #CC9E4E solid;}
.ach_show.locked {color: #D8D6BB; background: url(../../images/achievement/achievement_bg_locked.jpg) scroll 50% bottom; border-top: 1px #74623E solid;}
.ach_show.select {color: #554223; background: url(../../images/achievement/achievement_bg_sel.jpg) scroll 50% bottom;}
.select.locked   {color: #000000; background: url(../../images/achievement/achievement_bg_locked_sel.jpg) scroll 50% bottom;}
.ach_show         .ach_point {background: url(../../images/achievement/points_compl.png) transparent no-repeat;}
.ach_show.locked  .ach_point {background: url(../../images/achievement/points.png) transparent no-repeat;}
.ach_show         .ach_req   {display: block;}
.ach_show.select  .ach_req   {display: block;}
.ach_show         .sub.compl {color: #669200;}
.ach_show.locked  .sub.compl {color: #99FFFF;}

div.ach_stats, .ach_stats_name {text-align: left; font-weight: bold; font-size: 11px;}
div.ach_stats_name  {color: #FFFF99; background: url(../../images/achievement/zebra_darker.jpg);  padding: 5px 10px;}
div.ach_stats       {color: #000000; background: url(../../images/achievement/zebra_dark.jpg);  padding: 5px 20px; cursor: pointer;}
div.ach_stats.second{background: url(../../images/achievement/zebra_light.jpg);}
div.ach_stats:hover {background: url(../../images/achievement/zebra_light_flip.jpg);}

div.ach_s_list      {text-align: justify; font-size: 12px; color: #000000; padding: 0 20px; width: 633px;}
div.ach_progress    {width: 32.33%; padding: 5px 1% 0 0; float: left; font-weight: bold;}
div.ach_bar         {border: 1px solid #CA8E16; background: #1D3A45;position: relative; height: 14px;}
div.ach_bar div.pr  {color: #FFFFFF; font-size: 11px; font-weight: bold; position: relative; text-align: center;}
div.ach_bar div.bar {background: url(../../images/achievement/progress_blue.jpg); height: 100%; position: absolute; left: 0px;}

div.a_last_c         {color: #7D6357; font-size: 12px; padding: 0 0 0 10px; clear: both; cursor: default;}
div.a_last_c B       {color: #000000;}
div.a_last_cdate     {color: #000000; float: right; text-align:right; padding-left: 30px; font-weight: bold; font-size: 10px;}
div.a_last_cdate img {position: relative; top: 2px;}

img.ach_icon    {position: absolute; top:7px; left:22px; width: 48px;}
div.ach_frame   {position: absolute; background: url(../../images/achievement/fst_iconframe.png); top: -3px; left:10px; width: 72px; height: 72px;}
div.ach_point   {position: absolute; top: 5px; right: 10px; padding-top: 20px; width: 64px; height: 64px; color: #FFFFCC; font: 18px bold;}
div.ach_title   {font-weight: bold; padding-top: 12px; width: 80%;}
div.ach_desc    {padding: 5px; width: 75%;}
div.ach_date    {font-size: 10px; font-weight: bold;}
div.ach_req     {width: 80%; padding: 20px 30px 5px 30px; font-size: 12px;}
div.ach_req .sub        {float: left; width: 249px; text-align: left; padding-left: 20px;}
div.ach_req .sub.compl  {font-weight: bold;  background: url(../../images/achievement/compl.png) transparent no-repeat scroll 0 2px;}
div.ach_req .sub.bar    {width: 100%; padding: 0px;}
div.ach_reward  {color: #FFFFFF; font-size: 12px; background: url(../../images/achievement/title_bg.png) no-repeat scroll 50% 100%; position: absolute; left: 0px; bottom: 0px; width: 100%; padding: 10px 0px 2px;}
div.ach_value   {float: right;}

/* Tabs*/
.reportContainer {border: 0px solid #778;}
.my_tabs     {font-size: 12px; padding: 3px 0; margin: 0 0 1px 0; text-align: left;list-style-type: none; white-space: nowrap;}
.my_tabs li  {display: inline;margin: 0; color: #2d2b2b;font-weight: bold;}
.my_tabs li          a{cursor: pointer;text-decoration: none;padding: 4px 7px; margin-right: 2px; border: 1px solid #778; border-bottom: 2px solid #778; background: url(../../images/tabs/shade.gif) top left repeat-x;}
.my_tabs li.selected a{background-image: url(../../images/tabs/shadeactive.gif);border-bottom-color: white;}
.my_tabs li          a:hover{text-decoration: underline;}
.my_tabs li.selected a:hover{text-decoration: none;}

/* Others */
H1 {BORDER-RIGHT: #333333 2px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; COLOR: #ffdd00; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #000055; TEXT-ALIGN: center;}
H2 {BORDER-RIGHT: #333333 2px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; COLOR: #ffdd00; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #000055; TEXT-ALIGN: center;}
H3 {BORDER-RIGHT: #333333 2px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; COLOR: #ffdd00; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #000055; TEXT-ALIGN: center;}
H4 {BORDER-RIGHT: #333333 2px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; COLOR: #ffdd00; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #000055; TEXT-ALIGN: center;}
H5 {MARGIN-TOP: 0px; FONT-WEIGHT: 400; MARGIN-BOTTOM: 0px; WIDTH: 100%; COLOR: #000000; BACKGROUND-COLOR: #aaaaaa; TEXT-ALIGN: center; TEXT-DECORATION: none;}
H6 {MARGIN-TOP: 0px; FONT-WEIGHT: 400; MARGIN-BOTTOM: 0px; WIDTH: 100%; COLOR: #000000; BACKGROUND-COLOR: #aaaaaa; TEXT-ALIGN: center; TEXT-DECORATION: none;}

DIV.faq    {padding-left: 17px; padding-right: 17px;  padding-top: 0px; padding-bottom: 10px;}
DIV.faq    {COLOR: #000000; font-size: 13px; text-align: justify;}
DIV.faq H3 {BORDER-RIGHT: #333333 2px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; COLOR: #ffdd00; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #000055; TEXT-ALIGN: center;}
DIV.faq H4 {COLOR: #000000; font-size: 14px; font-weight: bold; padding-left: 10px; text-align: left; background: transparent; border: 0px; }
DIV.faq H6 {COLOR: #000000; font-size: 14px; font-style: italic; padding-left: 10px; text-align: left; background: transparent; border: 0px; }
DIV.faq P         {margin-top: 4px; margin-bottom: 4px;}
DIV.faq P.center  {text-align: center;}
DIV.faq UL        {margin-top: 4px; margin-bottom: 4px;}
DIV.faq IMG       {margin: 10px;}
DIV.faq A         {color: #0000FF; text-decoration: none;}
DIV.faq DIV.window{float: right; border: 1px solid #000099; margin: 10px; padding: 10px;}

TABLE.faqctrl  {WIDTH: 100%; COLOR: #000000; FONT-SIZE: 12px;}
TABLE.faqctrl A:hover  {BACKGROUND-COLOR: #aaaaaa}
TABLE.faqctrl A:link   {COLOR: #0000ff; TEXT-DECORATION: none;}
TABLE.faqctrl A:visited{COLOR: #0000ff; TEXT-DECORATION: none;}
TABLE.faqtable    {COLOR: #000000; font-size: 12px; width: auto; border-collapse: collapse;}
TABLE.faqtable TH {COLOR: #FF9900; border: #666666 1px solid; background: #003366;}
TABLE.faqtable TD {COLOR: #000000; border: #666666 1px solid; padding: 2px;}

DIV.copyright {padding-left:17px; font-size:11px; font-style:italic; }
DIV.copyright A:hover {BACKGROUND-COLOR: #aaaaaa}
DIV.copyright A:link   {COLOR: #0000ff; TEXT-DECORATION: underline;FONT-SIZE: 11px;}
DIV.copyright A:visited{COLOR: #0000ff; TEXT-DECORATION: underline;FONT-SIZE: 11px;}

span.backlink A:hover  {BACKGROUND-COLOR: #aaaaaa}
span.backlink A:link   {COLOR: #0000ff; TEXT-DECORATION: underline;FONT-SIZE: 11px;}
span.backlink A:visited{COLOR: #0000ff; TEXT-DECORATION: underline;FONT-SIZE: 11px;}