/*=============================
| Все что связано с фонам
===============================*/
body 	{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	color: #000000;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-color: #000000;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.head-table {
	font-size: 16px;
	font-style: italic;
	font-family: arial, helvetica, verdana, sans-serif;
	color: #ff0000;
	text-decoration: none;
	background-image: url(img/head-table.png);
	height: 23px;
}

/*===============================
| Ссылки и кнопки
===============================*/
a {
	font-size: 10px;
	color: #ff0000;
	font-family: arial, helvetica, verdana, sans-serif;
	text-decoration: none;
}

a:hover {
	font-size: 11px;
	color: #ff0000;
	font-family:: arial, helvetica, verdana, sans-serif;
	text-decoration: underline;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: yellow;
	background-image: url(img/button.png);
	height: 23px;
	width: 113px;
}

.full-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 5px 0 10px 0;
}

/*===============================
| Боковые панели
===============================*/
.side-border-left {
	
	color: #ff0000;
	background-color: none;
	padding: 10px 10px 10px 0;
	width: 175px;
}

.side-border-right {
	color: #ff0000;
	background-color: none;
	padding: 10px 0 10px 10px;
	width: 210px;
}
.scapmain-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: #ff0000;
	color: #0000ff;
	background-image: url(img/scapmain-body.gif);
	padding: 6px 4px 6px 6px;
}

.scapmain-top {
	background-image: url(img/scapmain-top.gif);
  	background-repeat: repeat-x;
	padding: 0px 0px 0px 0px;
}

.scapmain-top-left {
	background-image: url(img/scapmain-top-left.gif);
	width: 14px;
	height: 20px;
}

.scapmain-top-right {
	background-image: url(img/scapmain-top-right.gif);
	width: 14px;
	height: 20px;
}
.scapmain-foot {
	background-image: url(img/scapmain-foot.gif);
  	background-repeat: repeat-x;
	padding: 0px 0px 0px 0px;
}

.scapmain-foot-left {
	background-image: url(img/scapmain-foot-left.gif);
	width: 14px;
	height: 20px;
}

.scapmain-foot-right {
	background-image: url(img/scapmain-foot-right.gif);
	width: 14px;
	height: 20px;
}

.scapmain-side-left {
	background-image: url(img/scapmain-side-left.gif);
	width: 7px;
	height: 20px;
}

.scapmain-side-right {
	background-image: url(img/scapmain-side-right.gif);
	width: 7px;
	height: 20px;
}

/*===============================
| Основной контент
===============================*/
.capmain-top {
	background-image: url(img/capmain-top.gif);
  	background-repeat: repeat-x;
	padding: 0px 0px 0px 0px;
}

.capmain-top-left {
	background-image: url(img/capmain-top-left.gif);
	width: 14px;
	height: 20px;
}

.capmain-top-right {
	background-image: url(img/capmain-top-right.gif);
	width: 14px;
	height: 20px;
}

.capmain-foot {
	background-image: url(img/capmain-foot.gif);
  	background-repeat: repeat-x;
	padding: 0px 0px 0px 0px;
}

.capmain-foot-left {
	background-image: url(img/capmain-foot-left.gif);
	width: 14px;
	height: 20px;
}

.capmain-foot-right {
	background-image: url(img/capmain-foot-right.gif);
	width: 14px;
	height: 20px;
}
.capmain-side-left {
	background-image: url(img/capmain-side-left.gif);
	width: 14px;
	height: 20px;
}

.capmain-side-right {
	background-image: url(img/capmain-side-right.gif);
	width: 14px;
	height: 20px;
}

.main-body {
	font-size: 11px;
	color: none;
	background: url(img/main-body.jpg);
	border: 1px solid black;
	padding: 4px;
}

/*===============================
| Все что связано с форумам
===============================*/
.forum-caption {
	font-size: 12px;
	font-weight: bold;
	color: #ff6020;
	background-color: none;
	padding: 2px 4px 4px 4px;
}

.tbl {
	font-size: 13px;
	color: #ff4000;
	background-color: none;
	padding: 4px;
	background-image: url(img/tbl.png);
	background-repeat: repeat-x;
	height: 23px;
}

.tbl1 {
	font-size: 11px;
	background-color: none;
	background-image: url(img/tbl1.gif);
	background-repeat: repeat-x;
	color: #0000ff;
	padding: 4px;
}

.tbl2 {
	font-size: 13px;
	background-color: none;
	background-image: url(img/tbl1.gif);
	background-repeat: repeat-x;
	color: #ff0000;
	padding: 4px;
}

.small {
	font-size: 13px;
	background-color: none;
	font-weight: normal;
	color: #ff0000;
	padding: 4px;
}

.small2 {
	font-size: 10px;
	font-weight: normal;
	color: blue;
}

.side-small {
	font-size: 10px;
	font-weight: normal;
	color: blue;
}

.side-label {
	color: #fff;
	background-color: none;
	margin: 2px 0 2px 0;
	padding: 2px 2px 3px 2px;
}

.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: blue;
	background-color: #fff;
	border: 1px solid #ccc;
}

hr {
	height: 1px;
	border: 1px solid #eee;
}

.copyright {
	font-size: 10px;
	font-weight: normal;
	color: #ff4000;
	text-align: center;
}