BODY 	{
		font-size: 12px;
		font-family: Arial, Garamond, Helvetica;
		MARGIN: 0px;
		color: #FFFFFF;
		background-color: #000000;
	}
/*================================
| Переменные настройки стиля, так
| как они все находятся в файле
| theme.php
| Основные настройки в wcf.css
================================*/
table.foundation {
		width: 100%;
		border: 0;
		border-collapse: collapse;
		font-size: 12px;
	}

table.foundation TD.lefttitle {
		width: 225px;
		height: 96px;
		background-posision: left;
		background-image: url(img/left-Trollup.gif);
		background-repeat: no-repeat;
	}

table.foundation TD.righttitle {
		width: 225px;
		height: 96px;
		background-posision: right;
		background-image: url(img/right-Trollup.gif);
		background-repeat: no-repeat;
	}

table.foundation TD.leftmenu {
		vertical-align: top;
		text-align: left;
	}

table.foundation TD.rightmenu {
		vertical-align: top;
		text-align: right;
	}

table.foundation TD.mybody {
		padding: 0px;
		text-align: center;
		vertical-align: top;
		color: #000000;
	}

table.sitetitle {
		width: 100%;
		color: #ffdd00;
		background-color: #000000;
		border: 0px;
		border-collapse: collapse;
	}

table.sitetitle TD.ugverhfon {
		height: 96px;
		background: url(img/ugol-verh.gif) center left no-repeat;
	}

table.sitetitle TD.ugverhfon2 {
		height: 96px;
		background: url(img/ugol-verh2.gif) center right no-repeat;
	}

table.sitetitle TD.topfon {
		height: 96px;
		background: url(img/line.gif) center top repeat-x;
	}

table.sitetitle TD.fonmenu {
		height: 96px;
		width: 356px;
		background: url(img/menu.jpg) center center no-repeat;
		font-size: 22px;
		text-align: center;
		vertical-align: middle;
		padding-bottom: 10px;
	}
table.sitetitle TD.fonmenu a:visited {
		color: #ffffff;
	}

table.mainmenu {
		WIDTH: 225px;
		color: #ffdd00;
		background-color: #000000;
		fony-size: 13px;
		border: 0;
		border-collapse: collapse;
	}

table.mainmenu TD.left-body {
		color: #ffdd00;
		background-position: right;
		background-image: url(img/left-bord.gif);
		background-repeat: repeat-y;
		padding-right: 11px;
	}

table.mainmenu TD.left-top {
		height: 134px;
		background-position: left;
		background-image: url(img/left-Trollniz.gif);
		background-repeat: no-repeat;
	}

table.mainmenu TD.left-bottom {
		height: 23px;
		background-position: left;
		background-image: url(img/left-bottom2.gif);
		background-repeat: no-repeat;
	}

table.mainmenu TD.right-body {
		color: #ffdd00;
		background-position: left;
		background-image: url(img/right-bord.gif);
		background-repeat: repeat-y;
		padding-left: 11px;
	}

table.mainmenu TD.right-top {
		height: 134px;
		background-position: right;
		background-image: url(img/right-Trollniz.gif);
		background-repeat: no-repeat;
	}

table.mainmenu TD.right-bottom {
		height: 23px;
		background-position: right;
		background-image: url(img/right-bottom2.gif);
		background-repeat: no-repeat;
	}

table.mainbody {
		width: 100%;
		color: #000000;
		background-color: #000000;
		font-size: 100%;
		border: 0;
		border-collapse: collapse;
	}

table.mainbody TD.bodytopleft {
		width: 14px;
		height: 20px;
		background-position: left;
		background-image: url(img/verh-levo.gif);
		background-repeat: no-repeat;
	}

table.mainbody TD.bodytop {
            	height: 20px;
		background-position: center 50%;
		background-image: url(img/verh.gif)
		;background-repeat: repeat-x;
	}

table.mainbody TD.bodytopright {
		width: 14px;
		height: 20px;
		background-position: right;
		background-image: url(img/verh-pravo.gif);
		background-repeat: no-repeat;
	}

table.mainbody TD.bodyleft {
		width: 14px;
		background-position: left;
		background-image: url(img/left.gif);
		background-repeat: repeat-y;
	}

table.mainbody TD.body {
		background-image: url(img/bg.gif);
		padding: 10px;
	}

table.mainbody TD.bodyright {
		width: 14px;
		background-position: right;
		background-image: url(img/right.gif);background-repeat: repeat-y;
	}

table.mainbody TD.bodybottomleft {
		width: 14px;
		height: 20px;
		background-position: left;
		background-image: url(img/niz-levo.gif);
		background-repeat: no-repeat;
	}

table.mainbody TD.bodybottom { height: 20px;
		background-position: center 50%;
		background-image: url(img/niz.gif);
		background-repeat: repeat-x;
	}

table.mainbody TD.bodybottomright {
		width: 14px;
		height: 20px;
		background-position: right;
		background-image: url(img/niz-pravo.gif);
		background-repeat: no-repeat;
	}