/*================================
| Основные настройки стиля, так
| как они все используются во всех
| файлах php и некокого отношения
| не имеют к предыдущим настройкам,
| то есть к файлу style.css
================================*/

table.report              		{FONT-SIZE: 13px; color: #000000; border-color: #999 #333 #333 #999; border-width: 2px; border-style: solid; border-collapse: collapse; border-spacing: 0; width: 100%; margin-bottom: 10px;}

table.report TH           		{border:#CCCCFF 1px solid; COLOR: #66CCFF; BACKGROUND-COLOR: #000066;}
table.report TH A         		{COLOR: #66CCFF; TEXT-DECORATION: underline}

table.report TD           		{BORDER:#CCCCFF 1px solid;PADDING: 0px; vertical-align: middle; TEXT-ALIGN: center;}
table.report TD A         		{TEXT-DECORATION: none; COLOR: #ffdd00;}
table.report TD.left      		{TEXT-ALIGN: left; padding: 0px 5px;}
table.report TD.full      		{TEXT-ALIGN: left; padding: 0px 5px; white-space: nowrap;}
table.report TD.small     		{WIDTH: 1%; padding: 0px 5px; white-space: nowrap;}
table.report TD.head      		{COLOR: #ffdd00; background-image: url(img/title_bg2.gif); background-repeat: repeat-x; height: 20px; BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;}
table.report TD.page      		{COLOR: #000000; BACKGROUND-COLOR: #aaaaaa; FONT-SIZE: 13px;}

table.report TR.head      		{BACKGROUND-COLOR: #000055; FONT-SIZE: 16px; FONT-WEIGHT: 800;}
table.report TR.head    TD		{COLOR: #ffdd00;}

table.report IMG          		{vertical-align: middle;}

table.panel 				{background-image: url(img/bg.gif);padding: 10px;FONT-SIZE: 11px; color: #000000; border-color: #999 #333 #333 #999; border-width: 2px; border-style: solid; border-collapse: collapse; border-spacing: 0; width: 100%; margin-bottom: 0px;}
td.paneltitle 				{font-size:11px; text-align:left; color: blue;}
td.paneldata 				{font-size:11px; text-align:Right; color:Navy;}

td.logintext 				{font-size:12px; font-family:Arial, Helvetica, sans-serif; }
td.logininput 				{font-size:10px; font-family:Arial, Helvetica, sans-serif; }
td.loginbutton 				{font-size:10px; font-family:Arial, Helvetica, sans-serif; }

td.errtitle 				{background-color:#FF0000; color:#FFFF00; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
td.errtab 				{background-color:#FFB9B9; color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:10px; border-color:#FF0000; border-bottom-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-style: solid; }

td.tabletitle 				{background-color:#303B4A; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:16px; }
td.tableleft 				{background-color:#CFD7E0;border:#333333;border-left-style: solid;border-bottom-style: solid;border-bottom-width: 1px;border-left-width: 1px;}
td.tableright 				{background-color:#CFD7E0;border:#333333;border-right-style: solid;border-bottom-style: solid;border-bottom-width: 1px;border-right-width: 1px;}
td.tablecenter 				{background-color:#CFD7E0;border:#333333;border-bottom-style: solid;border-bottom-width: 1px;color: white;}

hr 					{color: #000000; height: 1px; width: 90%;}
table.panel a:link, a:visited 		{color: #4D7282; text-decoration: none; font-weight: bold;}
table.panel a:hover 			{color: #2000ff; font-size: 12px; text-decoration: underline}

.textbox 				{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: blue; background-color: #fff; border: 1px solid #ccc;}

